
/* COLORS */
$color-primary: #7CEAF7;
$color-primary-light: #B7F1F8;
$color-primary-dark: #2EB6C3;

$color-secondary: #d63384;
$color-secondary-light: #f7d6e6;
$color-secondary-dark: #561435;

$color-gray: #6d6d6d;
$color-white: #FFFFFF;
$color-black: #000;


/* TYPOGRAPHY */
$heading-font: "Montserrat", sans-serif;
$main-font: "Lato", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;