
/* COLORS */
$color-primary: #00b0ed;
$color-primary-light: #16C1FC;
$color-primary-dark: #017BA5;

$color-secondary: #ff1276;
$color-secondary-light: #FB5C9F;
$color-secondary-dark: #AA0249;

$color-gray: #6d6d6d;
$color-white: #FFFFFF;
$color-black: #000;


/* TYPOGRAPHY */
$heading-font: "Montserrat", sans-serif;
$main-font: "Lato", sans-serif;

h1, h2, h3, h4{
    font-family: $heading-font;
    font-weight: 700;
}


/* FONT SIZES */
$default-font-size: 1.6rem;

/* HEADERS FONT SIZE */
h1{ font-size: 2em; }
h2{ font-size: 1.6em; }
h3{ font-size: 1.4em; }
h2{ font-size: 1.2em; }


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;