.navbar {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        color:$color-secondary ;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 6rem;
        right: 5rem;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        z-index: 2000;
    }

    &__background {
        height: 4rem;
        width: 4.5rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 5.5rem;
        background-image: radial-gradient($color-secondary-light, $color-secondary-dark);
        z-index: 1000;
        transition: transform .8s;
        // transform: scale(100);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s;
    }

    &__list {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
}